<!doctype html>
<html>
<th:block th:fragment="content">
    <div class="container w-50 p-5" style="margin-top: 6rem">
        <form class="book-form container text-center" action="" method="post">
                <h1>Đăng ký khám bệnh</h1>
            <div class="row">
                <div class="col">
                    <input placeholder="Họ và tên">
                </div>
                <div class="col">
                    <input class="input-date" type="date">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input placeholder="Điện thoại">
                </div>
                <div class="col">
                    <input type="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input placeholder="Địa chỉ">
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Sex">
                        <option selected>Giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>
            </div>
            <select class="form-select" aria-label="specialty">
                <option selected>Chuyên khoa</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
            <select class="form-select" aria-label="doctor">
                <option selected>Bác sĩ</option>
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Khác">Khác</option>
            </select>
            <button type="submit" class="btn btn-fsearch">Gửi</button>
        </form>
    </div>
</th:block>
</html>